

# PYTHON_CONTAINER config
#PYTHON_DEV_COMMAND=bash -c "sleep infinity"
PYTHON_DEV_COMMAND=bash -c "pdm install --dev && sleep infinity"

PYTHON_DEV_USER_NAME=joren
PYTHON_DEV_USER_UID=1002
PYTHON_DEV_USER_GID=1002

# Database config
DATABASE_NAME=sqlalchemy_experiments
DATABASE_USER=exampleuser
DATABASE_PASSWORD=examplepass
DATABASE_HOST=python_dev_db

DATABASE_EXTERNAL_TCP_PORT=4320
DATABASE_INTERNAL_TCP_PORT=5432